@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: repeat;
}

canvas {
    display: block; 
    position: relative; 
    border: 1px solid white;
}

.intro {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    z-index: 10;
}

.container-button {
    margin-top: 60px;
}

#score {
    font-size: 1.2em;
    font-family: 'Press Start 2P', cursive;
    background-color: #FFD700;
    padding: 15px;
    border-radius: 5%;
}

h2 {
    font-size: 2.5em;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.game-over {
    width: 500px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    z-index: 10;
    justify-content: center;
}

.button {
    font-size: 1.2em;
    font-family: 'Press Start 2P', cursive;
    width: 200px;
    height: 70px;
    background: #3459CB;
    border: 0px;
    position: relative;
    box-shadow: 
      inset -4px 2px 1px 1px grey,
      inset -4px -2px 1px 1px lightgray,
      inset 4px 0px 1px 1px lightgray;   
  }
  
  .button:hover {
    cursor: pointer;
      background-color: #5c82f3;
  }
